{% load staticfiles %}

<html>
    <head>
        <title>ClubWeb</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/basic/home_page.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <style>
            @font-face {
            font-family: Amender;
            src: url('{% static 'fonts/Amender_Tu.ttf' %}') format("truetype");
            src: local('{% static 'fonts/Amender_Tu.ttf' %}') format("truetype");
            }

            @font-face {
            font-family: font2;
            src: url('{% static 'fonts/Cendol_Pulut.ttf' %}') format("truetype");
            src: local('{% static 'fonts/Cendol_Pulut.ttf' %}') format("truetype");
            }

            .myfont{
                font-family: 'Amender', sans-serif;
            }

            .myfont2{
                font-family: 'font2', sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid" style="background-color: white">
            <div class="row">
                <div class="col-sm-1 float-left">
                    <img src="/media/iiitv.png" style="height: 100px; width: 100px;"/>
                </div>
                <div class="col-md-5 float-right">
                    <h3>Indian Institute of Information Technology <h3 style="color: #0c2760; margin-top: 0px" >Vadodara</h3> </h3>
                </div>
                <div class="col-md-5 float-right" style="margin-left:80px">
                    <h1 class="myfont2 myfont" style="color: #0c2760; font-size: 50px"> ClubWeb </h1>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse" style="background-color: #0c2760;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand myfont2 myfont" href="{% url 'home_page' %}" style="color: white; font-size: large ;font-family:"Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif">
                        ClubWeb
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="NavBar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="#">
                                <a id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" style=" color: white;">
                                    <span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>&nbsp;
                                    GoTo
                                    &nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="color: white; background-color: black ">
                                    <ul class="nav navbar-nav">
                                        <li>
                                        <a href="{% url 'clubs_home_page' %}">
                                            Clubs
                                        </a>
                                        <a href="{% url 'events_home_page' %}">
                                            Events
                                        </a>
                                        <a href="{% url 'posts_home_page' %}">
                                            Posts
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-left">
                        <li class="#">
                            <a id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false" style="color: white;">
                                <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp;
                                Clubs
                                &nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: black; color: white;">
                                <ul class="nav navbar-nav">
                                    <li>
                                        {% for club in Clubs %}
                                        <a href="{% url 'club_page' slug=club.club_name %}">
                                            {{ club.club_name }}
                                        </a>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="#">
                            <a id="dropdownMenuButton2" data-toggle="dropdown" aria-expanded="false" style="color: white;">
                                <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>&nbsp;
                                Events
                                &nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="background-color: black;color: white; ">
                                <ul class="nav navbar-nav">
                                    <li>
                                        {% for event in Events %}
                                        <a href="{% url 'event_detail' pk2=event.pk %}">
                                            {{ event.title }}
                                        </a>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="#">
                            <a id="dropdownMenuButton3" data-toggle="dropdown" aria-expanded="false" style="color: white;">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
                                Posts
                                &nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3" style="background-color: black; color: white;">
                                <ul class="nav navbar-nav">
                                    <li>
                                        {% for post in Posts %}
                                        <a href="{% url 'post_detail' pk=post.pk %}">
                                            {{ post.title }}
                                        </a>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>