{% extends 'basic/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            {% for post in Posts %}
            <br><br>
            <a href="{% url 'post_detail' pk=post.pk %}"><h1>{{ post.club_name }}</h1></a>
            <h3>{{ post.title }}</h3>
            <p>{{ post.information }}</p>
            <p>{{ post.post_time }}</p>
            <br><br>
            {%  endfor %}
        </div>
        <div class="container">
            {% for event in Events %}
            <br><br>
            <a href="{% url 'event_detail' pk2=event.pk %}"><h1>{{ event.title }}</h1></a>
            <h3>{{ event.title }}</h3>
            <p>{{ eventt.information }}</p>
            <p>{{ event.time }}</p>
            <br><br>
            {%  endfor %}
        </div>
    </div>
{% endblock %}

