{% load staticfiles %}
<html>
    <head>
        <title>ClubWeb</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/basic/">ClubWeb</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
                <div class="col-md-8">
                    <ul>
                        <li><a href="/basic/artclub/">art club</a></li>
                        <li><a href="/basic/danceclub/">dance club</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>