{% extends 'basic/base.html' %}

{% block content %}
    <h1>This is home page</h1>
    <div>
        <ul>
            <li>
            <h2><a href="{% url 'clubs_home_page' %}">
                Clubs
            </a></h2>
            </li>
            <li><h2>
            <a href="{% url 'events_home_page' %}">
                Events
            </a></h2>
            </li>
            <li><h2>
            <a href="{% url 'posts_home_page' %}">
                Posts
            </a></h2>
            </li>
        </ul>
    </div>
{% endblock %}
