{% extends 'basic/base.html' %}

{% block content %}
    <div class="container-fluid" >
        <div class="row">
            <div class="col-md-3 float-left" style="background-color: blanchedalmond; margin-left: 30px; margin-right: 30px;" >
                Other Stuffs
            </div>
            <div class="col-md-8 float-right" style="background-color: antiquewhite;">
                <h1 align="center"> CLUBS </h1>
                {% for club in Clubs %}
                <h1><a href="{% url 'club_page' slug=club.club_name %}">
                    {{ club.club_name }}
                </a>
                </h1>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
